<h1>Cart - Album View</h1>
<div class="container">
    <div id="displaywatchesdiv" class="row displaydiv">Please contact support if this section wont populate. Thank you for your patience. 
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/cart.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/style.css" />