<head>
    <title>
        <%= title %>
      </title>
</head>
<h1><%=subject%></h1>


<%- contentFor('scriptsAfter') %>
<script type="module" src="/js/detail.js"></script>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/style.css" />