<h1>Album View</h1>
<div class="container">
    <div id="albumview" class="row displaydiv">Please contact support if this section doesn't populate soon. 
    </div>
</div>
<%- contentFor('scriptsAfter') %>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/style.css" />
