<h1>Welcome to CleanRad.io!</h1>
<div class="container">
    <div id="albumview" class="row displaydiv">
    </div>
</div>
<% if (typeof user !== "undefined") { %>
    <li>
<span href="#" tabindex="-1">Welcome <%= user.displayName %></span>
</li>
<form action="/logout">
    <input class="button my-2 my-sm-0" type="submit" value="Logout" />
</form>
    <% } else { %>
<form action="/login">
    <input class="button my-2 my-sm-0" type="submit" value="Login" />
</form>
    <% } %>

<%- contentFor('scriptsAfter') %>
<%- contentFor('cssAfter')%>
<link rel="stylesheet" href="/css/style.css" />
