<h1>Welcome to CleanRad.io!</h1>
<div class="container">
    <div id="albumview" class="row displaydiv">
    </div>
</div>
<% if (typeof user !=="undefined" ) { %>
    <p>
        <span href="#" tabindex="-1">Welcome <%= user.displayName %></span>
    </p>
    <form action="/mymusic">
        <input class="button my-2 my-sm-0" type="submit" value="My Music" />
    </form>
    <p></p>
    <form action="/settings">
        <input class="button my-2 my-sm-0" type="submit" value="Settings" />
    </form>
    <p></p>
    <form action="/logout">
        <input class="button my-2 my-sm-0" type="submit" value="Logout" />
    </form>
    <% } else { %>
        <p>Login or create an account to get started!</p>
        <form action="/login">
            <input class="button my-2 my-sm-0" type="submit" value="Login" />
        </form>
        <% } %>

            <%- contentFor('scriptsAfter') %>
                <%- contentFor('cssAfter')%>
                    <link rel="stylesheet" href="/css/style.css" />